{% extends "base.html" %}
{% block title %} Ajouter une COMPOSITION{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Clavioter une nouvelle COMPOSITION
			</p>
			<form method="POST">
				<div class="form-group">
					<label for="Nom_composition">
						Nom COMPOSITION
					</label>
					<input type ="text" class="form-control" name="name_plante_html" />
					<input type ="text" class="form-control" name="name_qtt_html" />

				</div>
				<button type="submit" class="btn btn-primary">
					Enregistrer la composition
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
