{% extends "base.html" %}
{% block title %}Edit composition{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Modifier cette composition.
			</p>
			<form method="POST" action="{{ url_for('composition_update') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                id Composition
                            </th>
                            <th>
                                Plante
                            </th>
                            <th>
                                Qtt
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td>
                                    <input type="hidden" name="id_composition_edit_html" value="{{ row.id_composition }}"/>
                                </td>
                                <td>
                                    <input type = "text" name = "name_edit_plante_html" value="{{ row.plante }}"/>
                                </td>
                                <td>
                                    <input type = "text" name = "name_edit_qtt_html" value="{{ row.qtt }}"/>
                                </td>
                                <td>
                                    <button class="btn btn-warning" type="submit">Update</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
