{% extends "base.html" %}
{% block title %} Afficher compositions {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  Id
						</th>
						<th class="" >
						  Nom
						</th>
						<th class="" >
						  Durée
						</th>
						<th class="" >
						  Date de sortie
						</th>
						<th class="" >
						  Description
						</th>
						<th class="" >
						  Affiche
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
						  {{ row.id_personne }}
					  </th>
					  <th class="align-middle">
						{{ row.nom }}
					  </th>
					  <th class="align-middle">
						{{ row.prenom }}
					  </th>
					  <th class="align-middle">
						{{ row.mail }}
					  </th>
					  <th class="align-middle">
						{{ row.tel }}
					  </th>
					  <th class="align-middle">
						{{ row.lieu }}
					  </th>
					  <th class="align-middle">
						<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Ajouter</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-warning" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Edit</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Delete</a>
					  </th>
					<tr>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('gf_edit_personne_composition_selected', id_personne_composition_edit_html=row.id_personne) }}" role="button">Modifier</a>
						</td>
						<td class="align-middle" colspan="5">
							{{ row.PersoneComposition|default("PAS DE COMPO", True) }}
						</td>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucune composition.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
